<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container w-50" style="maergin: 0 auto">
        <h3>AGREGAR PELICULA</h3>
        <form action="/agregarPelicula/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <label for="txtCodigo" class="fw-bold">Código:</label>
                <input type="text" name="txtCodigo" id="" class="form-control">
            </div>
            <div class="mb-2">
                <label for="txtTitulo" class="fw-bold">Título:</label>
                <input type="text" name="txtTitulo" id="" class="form-control">
            </div>
            <div class="mb-2">
                <label for="txtProtagonista" class="fw-bold">Protagonista:</label>
                <input type="text" name="txtProtagonista" id="" class="form-control">
            </div>
            <div class="mb-2">
                <label for="txtDuracion" class="fw-bold">Duración:</label>
                <input type="number" name="txtDuracion" id="" class="form-control">
            </div>
            <div class="mb-2">
                <label for="txtResumen" class="fw-bold">Resumen:</label>
                <textarea name="txtResumen" id="" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="mb-2">
                <label for="cbGenero" class="fw-bold">Genero:</label>
                <select name="cbGenero" id="" class="form-select">
                    <option value="">Seleccione</option>
                    {%for g in generos%}
                        <option value="{{g.pk}}">{{g.genNombre}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="mb-2">
                <label for="fileFoto" class="fw-bold">Foto:</label>
                <input type="file" name="fileFoto" id="">
            </div>
            <div class="mb-2">
                <button class="btn btn-secondary">Agregar</button>
            </div>
        </form>

    </div>

    <div>{{mensaje}}</div>
</body>

</html>